{% extends "auctions/layout.html" %} {% block body %}
<style>
  div.catlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  div.catlist a {
    width: 100%;
    max-width: 32%;
    background-color: #298e92;
    margin-bottom: 20px;
    padding: 20px;
    color: #eee;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #0006;
  }
  div.catlist a:hover {
    background-color: #1b7b7e;
    color: #fff;
    box-shadow: 0 0 20px #000a;
  }
</style>
<div class="catlist">
  {% for category in categories %}
  <a href="{% url 'category' category.id %}">{{category.name}}</a>
  {% empty %}
  <div class="empty">
    <span> No categories added. </span>
  </div>
  {% endfor %}
</div>

{% endblock %}
